<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App</title>
        <link rel="stylesheet" href="../static/css/styleAddRecipe.css" type="text/css" media="all"/>
        <script src="../static/js/appAddRecipe.js" type="text/javascript"  charset=utf-8></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body onLoad = "load_dropdowns()">
        <div class="container mt-3 bg-primary rounded">
            <h1>Register Recipe</h1>

            <form>
                <img src="../static/images/addRecipeImage.png"/><br/><br/>
                <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Recipe Name</span>
                        <input class="form-control" type="text" name="RecipeName"/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Description</span>
                        <input class="form-control" type="text" name="Description"/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Category</span> 
                        <select class="form-select" id="selectCategory" name="CategorySelected">
                            <option>Choose a Category</option>
                        </select>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Preparation Time</span>
                        <input class="form-control" type="number" name="PreparationTime"/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Servings</span>
                        <input class="form-control" type="number" name="Servings"/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Ingredients</span>
                        <select class="form-select" id="selectIngredient">
                            <option>Choose a Ingredient</option>
                        </select>
                    </div>
                    
                    <div class="input-group mb-3">
                        <textarea class="form-control" name="Ingredients" id="Ingredients"></textarea>
                    </div>
                    
                    <div class="input-group mb-3">
                        <button class="btn btn-secondary" onClick="add_ingredient(); return false;">Add Ingredient</button><br/><br/>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Steps</span>
                        <textarea class="form-control" name="Steps"></textarea><br/><br/>
                    </div>
                    
                    <button class="btn btn-light" onClick="{add_recipe()}" formaction="/insert_recipe" formmethod="post" id="addBtn">Add Recipe</button>
                </div>
            </form>
        </div>
    </body>
</html>