<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App AWS</title>
        <link rel="stylesheet" href="../static/css/styleHome.css" type="text/css" media="all"/>
        <script src="../static/js/appHome.js" type="text/javascript"  charset=utf-8></script>
        
    </head>
    <body>
        <h1>Welcome to food for everyone!</h1>
        <div>
            <img src="../static/images/foodHome1.jpg"/>
            <div>
                <button onClick="{go_to_add_recipe()}">Add Recipe</button>
                <button onClick="{go_to_consult_recipe()}">Consult Recipe</button>
            </div>
        </div>
    </body>
</html>